{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="container py-5">
    <h1 class="text-center mb-4">Meet Our Team</h1>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card">
          <img src="team1.jpg" class="card-img-top" alt="Team Member">
          <div class="card-body">
            <h5 class="card-title">John Doe</h5>
            <p class="card-text">CEO & Founder</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="team2.jpg" class="card-img-top" alt="Team Member">
          <div class="card-body">
            <h5 class="card-title">Jane Smith</h5>
            <p class="card-text">CTO</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="team3.jpg" class="card-img-top" alt="Team Member">
          <div class="card-body">
            <h5 class="card-title">Emily Davis</h5>
            <p class="card-text">Marketing Head</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock body %}

